// hex color
$alabaster: #f9f9f9;
$alto: #dadada;
$aqua: #00ffff;
$black-pearl: #031c27;
$black: #000000;
$boulder: #787878;
$bright-red: #a81200;
$bright-turquoise: #11c1f1;
$camarone: #005a2c;
$catalina-blue: #06237a;
$cinnabar: #ec4234;
$concrete: #f2f2f2;
$deep-koamaru: #122d7f;
$dove-gray: #707070;
$dusty-gray: #7a7a7a;
$footer: #1648a0;
$gallery: #eeeeee;
$link-water: #e7ecfa;
$manatee: #979aaa;
$mine-shaft: #333333;
$nobel: #b5b5b5;
$oslo-gray: #898a8d;
$pattens-blue: #deebff;
$persian-red: #c23c2c;
$science-blue: #0038de;
$seashell: #f1f1f1;
$silver: #c4c4c4;
$troy-blue: #183aa0;
$waterloo: #7f818d;
$white: #ffffff;
$wild-sand: #f5f5f5;
$light-gray: #f3f5fa;
$white-lilac: #f3f5fa;
$ochre: #cc7520;
$red: #ff0000;
$dark-blue: #2200cc;
$cobalt: #0143be;
$alabaster: #f8f8f8;
$nevada: #6d6e71;

// rgba colors
$color-light-blue: rgba(6, 34, 120, 0.95);
$color-light-gray: rgba(24, 58, 160, 0.05);
$color-light-white: rgba(255, 255, 255, 0.7);

$bg-gradient-light-blue: rgba(24, 58, 160, 0.65);
$bg-gradient-light-green: rgba(0, 146, 71, 0.65);
$bg-gradient-light-orange: rgba(194, 60, 44, 0.65);
$bg-gradient-light-gray: rgba(112, 112, 112, 0.65);
$citizen-light: rgba(67, 204, 105, 0.95);
$citizen-dark: rgba(0, 90, 44, 0.95);
$bg-light-gray: rgba(255, 255, 255, 0.05);
$calendar-separator: rgba(0, 0, 0, 0.5);

// admin control spacing.
$ctrl-space-y: 15px;
$ctrl-space-x: 10px;

// admin badge
$ext-img: #009247;
$ext-file: #ee2f37;
$ext-video: #b40008;
